{% extends "base.html" %} {% block title %}Créditos{% endblock %} {% block body
%}
<main>
  <section class="py-3">
    <div class="container">
      <h2 class="text-center mb-4">Créditos</h2>
      <div class="row justify-content-center align-items-center">
        <div class="col-md-6 text-center">
          <img
            src="/static/michi1.jpeg"
            alt="Jessy"
            class="img-fluid rounded-circle mb-3"
            style="max-width: 200px"
          />
          <h3>Jessica Montaño Lares</h3>
          <p>Web Scrapper</p>
        </div>
        <div class="col-md-6 text-center">
          <img
            src="/static/michi2.webp"
            alt="Angelica"
            class="img-fluid rounded-circle mb-3"
            style="max-width: 200px"
          />
          <h3>Angélica López Cerecer</h3>
          <p>Html</p>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
