{% extends "base.html" %}
{% block title %}Explorar - Revistas Pro{% endblock %}

{% block body %}
<main>
    <section class="py-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <h2>Abecedario</h2>
                    <ul class="list-group">
                        {% for letra in letras %}
                        <li class="list-group-item">
                            <a href="/explorar/{{ letra }}">{{ letra }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-9">
                    {% if letra %}
                    <h2>Palabras que comienzan con la letra {{ letra }}</h2>
                    <ul class="list-group">
                        {% for palabra in palabras_letra %}
                        <li class="list-group-item"><a href="/explorar/palabra/{{ palabra }}">{{ palabra }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

