{% extends "base.html" %} {% block title %}Revistas Pro - Inicio{% endblock %}
{% block body %}
<main>
  <section class="py-3">
    <h2>Bienvenid@</h2>
    <p>
      Bienvenido a nuestra página desarrollada como proyecto para la materia de
      Desarrollo 4, de la carrera de Ingeniería en Sistemas de Información en la
      Universidad de Sonora. Aquí encontrarás información sobre diversas
      revistas de la página SCIMAGO.
    </p>
    <p>
      Dentro de nuestra plataforma, disponemos de una sección de "explorar"
      donde puedes buscar palabras clave dentro de los títulos de las revistas
      para realizar búsquedas más específicas. Además, ofrecemos información
      general de cada revista, así como un enlace directo a la página oficial de
      SCIMAGO para acceder a más detalles.
    </p>
    <p>
      Explora, descubre y aprovecha toda la información disponible sobre las
      revistas en nuestro sitio.
    </p>
  </section>
</main>
{% endblock %}
