{% extends "base.html" %}
{% block title %}Revistas Educativas - Inicio{% endblock %}

{% block body %}
<main>
    <section>
        <h2>Bienvenido</h2>
        <p>Somos una plataforma dedicada a brindar contenido educativo de alta calidad en una variedad de temas. Desde ciencia y tecnología hasta arte y literatura, nuestras revistas cubren una amplia gama de intereses y disciplinas.</p>
        <p>Explora nuestros artículos, ensayos y recursos educativos para ampliar tus conocimientos y descubrir nuevas áreas de interés. Nuestro objetivo es fomentar el aprendizaje continuo y proporcionar herramientas que inspiren la curiosidad y el crecimiento intelectual.</p>
        <p>¡Únete a nuestra comunidad y sumérgete en el apasionante mundo del conocimiento!</p>
    </section>
</main>
{% endblock %}
