{% extends "base.html" %}
{% block title %}Revistas por Palabra - Revistas Educativas{% endblock %}

{% block body %}
<main>
    <section>
        <h2>Revistas que Contienen la Palabra "{{ palabra }}"</h2>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Catálogo</th>
                            <th>Factor de Impacto SJR</th>
                            <th>Cuartil</th>
                            <th>Total de Citas</th>
                            <th>Enlace</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for revista in revistas %}
                            <tr>
                                <td>{{ revista.titulo }}</td>
                                <td>{{ revista.catalogo }}</td>
                                <td>{{ revista.sjr }}</td>
                                <td>{{ revista.q }}</td>
                                <td>{{ revista.total_citas }}</td>
                                <td><a href="{{ revista.url }}" target="_blank">Enlace</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>
{% endblock %}
