{% extends "base.html" %} {% block title %}Revistas por Palabra - Revistas Pro{% endblock %} {% block body %}
<main>
  <section class="py-5">
    <div class="container-fluid">
      <h2>Revistas que contienen la palabra: "{{ palabra }}"</h2>
      <div class="row">
        <div class="col-12">
          <a href="/explorar" class="btn btn-primary mb-3"
            >Volver al Abecedario</a
          >
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th>Título</th>
                <th>Catálogo</th>
                <th>Factor de Impacto SJR</th>
              </tr>
            </thead>
            <tbody>
              {% for revista in revistas %}
              <tr>
                <td>
                  <a href="/revista/{{revista.id}}">{{ revista.titulo }}</a>
                </td>
                <td>{{ revista.catalogo }}</td>
                <td>{{ revista.sjr }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
